$break-small: 767px;
$break-large: 1200px;
    
.header
    height: 120px
    transition: height .3s ease,opacity .3s ease;
    background-color: rgb(248, 78, 85);
    position: fixed
    top: 0
    width: 100vw
    z-index: 100
    

    @media screen and ( max-width:  $break-small)
        height: 68px

    .header-inner
        padding-top: 10px
        padding-bottom: 10px
        padding-left: 5%
        padding-right: 5%
        height: 100%

        display: flex;
        justify-content: space-between;
        align-items: center;
    .left
        display: flex
        align-items: center

        .logo
            width: 50px
            height: 50px
        .slogan
            @media screen and ( max-width: 320px )
                display: none
            padding-left: 20px
            font-size: 3rem
            color: white
            text-transform: uppercase
            // font-weight: bold

    .navigation-list
        list-style: none
        @media screen and ( max-width:  $break-small)
            display: none

        .navigation-item
            display: inline-block
            position: relative
    
    a
        padding: 16px 15px
        text-transform: uppercase
        color: hsla(0,0%,100%,.9)
        text-decoration: none
        font-size: 1.6rem

    a.active
        ::after
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 100%
            height: 2px
            margin-top: -2px
            background-color: #fff;

    .menu-collapse
        display: none
        @media screen and ( max-width:  $break-small)
            display: block
        color: hsla(0,0%,100%,.9)
        text-decoration: none
        text-transform: uppercase
        position: relative
        padding: 16px 15px
        transition: width .2s
        cursor: pointer
        

        // ::before
        //     content: ""
        //     position: absolute
        //     top: 50%
        //     right: 100%
        //     width: 80px
        //     height: 2px
        //     margin-top: -2px
        //     background-color: #fff;
        //     transition-delay: 0s
        //     transition: width .2s
            

        // ::after
        //     content: ""
        //     position: absolute
        //     top: 50%
        //     left: 100%
        //     width: 0
        //     height: 2px
        //     margin-top: -2px
        //     background-color: #fff;
        //     transition-delay: 0s
        //     transition: width .2s


        &:hover
            ::before
                width: 40px
            ::after
                width: calc(40px + 5vw)


    &.sticky
        background: #fff
        width: 100%
        height: 80px
        z-index: 100
        box-shadow: 0 2px 13px 0 rgba(0,0,0,.05);
        @media screen and ( max-width:  $break-small)
            height: 60px
        a
            color: #000

        a.active
            ::after
                background-color: #e83f4f;
        .contact-us
            ::after 
                background-color: #e83f4f;
            ::before
                background-color: #e83f4f;
        .slogan
            color: #e83f4f