$break-small: 767px;
$break-large: 1200px;

.landing
    background-color: rgb(248, 78, 85);
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    color: white
    text-align: center
    font-size: 3rem
    position: relative
    @media screen and ( max-width:  $break-small)
        font-size: 2.5rem

    .last-child
        color: #221240

    .particle
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        #tsparticles
            width: 100%
            height: 100%
    .introduction
        position: absolute
        // top: 0
        // left: 0
        // right: 0
        // bottom: 0
        display: flex
        flex-direction: column
        align-items: center
        


.skill
    min-height: 500px
    height: calc(100vh - 80px)
    padding: 10% 5%
    display: flex
    flex-direction: column
    // align-items: center
    justify-content: center;
    position: relative

    @media screen and ( max-width:  $break-small)
        height: calc(100vh - 60px)

.section-title
    text-transform: uppercase
    color: #e83f4f
    margin-left: 80px
    padding: 20px
    position: absolute
    top: 80px
    left: 5%
    font-size: 1.6rem

    ::before
        content: ""
        position: absolute
        top: 50%
        right: 100%
        width: 80px
        height: 2px
        margin-top: -2px
        background-color: #e83f4f;
.fade-in-section 
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;

.fade-in-section.is-visible 
  opacity: 1;
  transform: none;
  visibility: visible;


@keyframes slideUp
  0%
    transform: translateY(0);
  33%
      transform: translateY(-100%);
  66%
      transform: translateY(-200%);
  100%
      transform: translateY(-300%);

@keyframes slideDown
  0%, 50%
    transform: translateY(0);
  66%, 100%
    transform: translateY(300%);

@keyframes slideDownRight
  0%
    transform: translateY(0);
  20%
      transform: translateY(100%);
  40%
      transform: translateY(200%);
  60%
      transform: translateY(300%);
  80%
      transform: translateY(400%);
  100%
      transform: translateY(500%);

@keyframes slideUpRight
  0%, 80%
    transform: translateY(0);
  83%, 100%
    transform: translateY(-500%);

.skill-detail
    text-align: center
    font-size: 2.5rem
    @media screen and ( max-width:  $break-small)
        font-size: 1.5rem

    .skill-combine
        display: flex
        justify-content: center
        font-size: 4rem
        font-weight: bold
        height: 4rem
        line-height: 4rem
        overflow: hidden

        @media screen and ( max-width:  $break-small)
            font-size: 2.5rem
            height: 2.5rem
            line-height: 2.5rem

        .skill-combine-middle
            padding: 0 10px
        .skill-combine-text-change
            color: #2932d3
            // transition: transform .5s

        .skill-combine-left
            text-align: right
            animation: slideUp 3s ease infinite;

            *
                position: relative
                z-index: 1
                background-color: white

            .first-child
                z-index: -1
                animation: slideDown 3s ease infinite;
        
        .skill-combine-right
            text-align: left
            position: relative
            top: -400%
            animation: slideDownRight 5s ease infinite;

            *
                position: relative
                z-index: 1
                background-color: white

            .first-child
                z-index: -1
                animation: slideUpRight 5s ease infinite;

.how
    background-color: #221240

    .how-inner
        padding: 110px 5%
        position: relative
        .statement-list
            margin-top: 100px
            transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
        .section-title
            color: white
            ::before
                background-color: white

        .statement
            width: 100%
            margin-bottom: 80px
            display: flex
            flex-wrap: wrap;
            text-align: center
            align-items: center
            @media screen and ( max-width: $break-small )
                justify-content: center

            .statement-text-group
                width: 65%
                display: flex
                flex-direction: column
                justify-content: center

                .statement-title
                    font-size: 4rem
                    font-weight: bold
                    color: #2932d3
                .statement-content
                    font-size: 2.5rem
                    color: white
                    padding: 20px 0
                @media screen and ( max-width: $break-small )
                    width: 100%
            .statement-image
                width: 35%
                height: auto
                // background-color: red
                // height: 100px

                @media screen and ( max-width: $break-small )
                    width: 100%
                    max-width: 100vh
        .statement-reverse
            @media screen and ( max-width: $break-small )
                .statement-image
                    order: 2
                .statement-text-group
                    order: 1
                    

.contact
    height: calc(100vh - 80px)
    display: flex
    justify-content: center;
    align-items: center
    position: relative
    
    @media screen and ( max-width:  $break-small)
        height: calc(100vh - 60px)
        flex-direction: column

    .action
        width: 50%
        height: 100%
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center;
        
        @media screen and ( max-width:  $break-small)
            width: 100%
    .get-a-quote
        background: url(/images/get-a-quote.jpg) no-repeat
        background-size: cover;
        background-position-x: center;
    .tell-us-more
        background: url(/images/tell-us-more.jpg) no-repeat
        background-size: cover;
        background-position-x: center;
    .question
        font-size: 2.5rem
        margin-bottom: 5%
    .action-btn
        text-transform: uppercase
        font-size: 3rem
        width: 258px
        position: relative
        text-align: center
        cursor: pointer
        line-height: 5rem;
        text-decoration: none
        color: white

        svg
            position: absolute
            top: 0
            left: 0

        path
            stroke-dasharray: 200,100;
            stroke-dashoffset: 70;
            transition: all 1.2s cubic-bezier(.22,.93,1,1.01) .1s;

        &.hover
            path
                stroke-dasharray: 200,100;
                stroke-dashoffset: -230;
    
.footer
    font-size: 1.6rem
    padding: 2% 0
    color: black
    text-align: center
    text-transform: uppercase