@font-face
  font-family: "Volte"
  src: url(/fonts/Volte-Medium.woff2)

html
  min-width: 320px
  font-family: Volte, sans-serif
  font-size: 62.5%;
  scroll-behavior: smooth;

*
  box-sizing: border-box


.menu
  display: none
  z-index: 9999
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: white
  color: #221240
    

  &.visible
    display: block

  .top
    height: 68px
    display: flex
    align-items: center
    padding: 10px 5% 0
    cursor: pointer
    font-size: 1.6rem
    text-transform: uppercase
    justify-content: flex-end
    position: relative
    z-index: 1

  .menu-list
    font-size: 4rem
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center

    .menu-item
      margin-bottom: 10%
      cursor: pointer
      position: relative
      @media screen and ( max-height:  500px)
          margin-bottom: 2%
      
      &.active
        // background-color: red
        ::after
          content: ""
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(-50%)
          width: 50%
          height: 2px
          margin-top: -2px
          background-color: #e83f4f
