.scrollable
  position: relative
  display: flex
  width: 100%
  height: 100%
  overflow: hidden

  & > .content
    position: relative
    width: 100%
    height: 100%
    overflow: hidden scroll
    scrollbar-width: none
    -ms-overflow-style: none

    &::-webkit-scrollbar
      display: none

  & > .scrollbar
    position: relative
    width: 0.3em
    margin-left: 0.5em
    border-radius: 0.2em
    background-color: #1E1D19

    & > .thumb
      width: 0.3em
      top: 0
      background-color: #3C3934
      border-radius: 0.2em
